# +------+
# |      |
# | SMTP |
# |      |
# +------+

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587

# NOTES:
# - Depending on your provider, this may be either the prefix or the entire email address, e.g "person" vs "person@example.com"
# - When using a google workspace gmail account the complete email is required, on a personal account only the prefix is needed
SMTP_USERNAME="person@example.com"

# NOTES:
# - If using gmail, an app password is required instead of your regular account password: https://support.google.com/accounts/answer/185833
SMTP_PASSWORD="youRealyThinkWeWouldUseOurRealPasswordHere?"

# +------+
# |      |
# | DATA |
# |      |
# +------+

# NOTES:
# - Both plain text and HTML files are supported
# - If using HTML, the use of https://mjml.io is recommended due to the huge discrepancies between mail client parsers
TEMPLATE_PATH="data/template.html"

# NOTES:
# - If using XLSX files or other formats for your tables, convert them to CSV first
CSV_PATH="data/details.csv"
